
<div class="con-top">
    <h3>Hidden Paradise: Turkey's Secret Villages</h3>
    <p>Text: Turkey is renowned not only for its vibrant cities and historical landmarks but also for its hidden villages waiting to be discovered. If you want to escape the hustle and bustle of city life and find peace in the embrace of nature this summer, here are a few recommendations.</p>
</div>




